# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.env
.env.local
.DS_Store
Thumbs.db
node_modules/
.vscode/
.idea/

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*
